{% extends "base.html" %}
{% block content %}

<h3>Select counties: 
<!--<input type="text" name="county" id="county" placeholder="Latah"-->
<!--autocapitalize="words">-->
<!--</input>-->
</h3>
<form method="POST">
    {{ form.name() }}
    {{ form.submit() }}   <!--<button id="Add">Run Counties</button>-->
</form>


<h1 align=center>{{ counties }}</h1>

<p>
  {{ counties }} county is a good county. There they might like pigs or they might
  think ice cream is tasty. Look below to see!
</p>

{% for question_plot in question_plots %}
    <br><br>
    {{ question_plot.plot|safe }}
{% endfor %}

<!--<script src="/static/select_counties.js"></script>-->

{% endblock %}
